# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env
venv/
env/

# Xcode / Swift
.build/
Packages/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
DerivedData/

# OS
.DS_Store
Thumbs.db
